<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
      $('#load1').on('click', function() {
          var $this = $(this);
          $this.button('loading');
          setTimeout(function() {
             $this.button('reset');
         }, 8000);
      });
    </script>
</head>
<body>

<div class="container">
  <div style="margin:3em;">
    <button type="button" class="btn btn-primary btn-lg " id="load1" data-loading-text="loading..">Submit Order</button>
  </div>
</div>

